.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
*{
    margin: 0;
}
nav{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f1b4a;
    padding: 1.8rem 12.5rem;
    
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: center;

    
}
nav .menu a{
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;

}
.btn{
    border-radius: 10000px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1rem 0.75rem 1rem ;
    background-image: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    display: flex;
    gap:0.25rem;
    align-items: center;

}
#banner{
    align-items: center;
    text-align: center;
    background-color: #1A0B2E;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
}
#banner .button{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}
.btn-2{
    background: none;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem ;
    display: flex;
    gap:0.25rem;
    align-items: center;
}
 #banner .image{
    position: relative;
 }
.img-1{
       padding: 6.31rem 39.06rem 0 39.06rem;       
}
.img-2{
    position: absolute;
    top: 10.6rem;
    left: 45.93rem;
}
.badge{
    position: absolute;
    top: 30%;
    left: 57%;
    color: #1A0B2E;
    font-weight: 600;
    border-radius: 1000px;
    padding: 0.5rem 1rem;
    background-color: #00FF88;
    font-size: 1.12rem;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
#banner h1{
    font-size: 3.75rem;
    color: white;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
p{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.25rem;
    opacity: 0.6;

}
#about{
    background: #1A0B2E;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#about .about-header{
    margin-bottom: 5rem;
    padding: 7.5rem 25rem 0 25rem;

}
#about .about-header h2{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1rem;
}
.item{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.item h1{
      margin-top: 5rem;
      color: #00FF88;
      font-size: 3rem;
      font-weight: 900;
}
#card-container{
    background-color: #230E3D;
    padding: 7.5rem 12.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#card-container h2{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 2.5rem;
}
#card-container .card{
    text-align: left;
    display: grid;
    gap: 1.8rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);

}
.big-layout{
            grid-column: span 1;
            grid-row: span 2;
            border-radius: 40px;
            background: rgba(53, 17, 101, 0.4);
            padding: 2.5rem;

}
.wide-layout{
            grid-column: span 2;
            grid-row: span 1;
            border-radius: 40px;
            background: rgba(53, 17, 101, 0.4);
            padding: 2.5rem;
}
.side-layout{
            grid-column: span 2;
            grid-row: span 2;
            border-radius: 40px;
            background: rgba(53, 17, 101, 0.4);
            padding: 2.5rem;
}

.normal-layout{
            grid-column: span 1;
            grid-row: span 2;
            border-radius: 40px;
            background: rgba(53, 17, 101, 0.4);
            padding: 2.5rem;
}
.card img{
    margin-bottom: 1rem;
}
.card h4{
     font-size: 1.5rem;
     color: #ffffff;
     margin-bottom: 1rem;
}
.card p{
    line-height: 1.5rem;
}
#videos{
    background: #1A0B2E;
    padding: 7.5rem 12.5rem 0 12.5rem;
    align-items: center;
    text-align: center;
}
#videos h2{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 2.5rem;
}
#videos .video-cards{
    display: flex;
    justify-content: space-evenly;
    gap: 1.8rem;
}
.video-cards .card2{
    background: #230E3D;
    border-radius: 20px;
    text-align: left;
}
.card2 iframe{
    border-radius: 20px;
}
.card2 h5{
         padding: 1rem;

}
.card2 p{
    padding: 1rem;

}
.card2 h5{
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 0.75rem;
}
.card2 .time{
    display: flex;
    gap: 0.37rem;
    color: #00FF88;
    font-weight: 600;
}
#host-section{
    background: #1A0B2E;
    padding: 7.5rem 12.5rem; 
}
#host-section h2{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2.5rem;
}
.host-container{
    background: #230E3D;
    display: flex;
    gap: 1.5rem;
    padding: 3.03rem 2.5rem;
    border-radius: 40px;
    
}
.host-container h6{
    font-size: 2rem;
    font-weight: 700;
    color:#ffffff ;
    margin-bottom: 1rem;
}
.host-container .social-link{
    border: 1px solid #533C72;
    padding: 0.6rem;
    border-radius: 100%;
    gap: 0.5rem;

}
.footer-section{
    align-items: center;
    text-align: center;
    background-color: #1A0B2E;
    background: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    padding:  7.5rem ;

}
.footer-section .footer-logo{
    margin-bottom: 2rem;
 
}

.links{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    margin-bottom: 3rem;
}
.links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    display: flex;
    gap: 0.5rem;
}