.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}
nav{
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #412567;
    padding: 1.8rem 12.5rem;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    align-items: center;

    
}
nav .menu a{
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;

}
.btn{
    border-radius: 10000px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1rem 0.75rem 1rem ;
    background-image: linear-gradient(47.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    display: flex;
    gap:0.25rem;
    align-items: center;

}
